fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  width: 100%;
  max-width: 100%;
}
input[type="search"] {
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 2px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}

textarea,
select,
input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type="email"],
input[type="search"],
input[type='file']{
  font:normal 100%/100% $font-family;
  color:#222;
  border:1px solid var(--input-border-color);
  padding: 6px 10px;
  border-radius: 3px;
  overflow: overlay;
}


textarea:hover,
input[type='number']:hover,
input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover,
input[type='file']:hover
select:hover,
textarea:active,
input[type='number']:active,
input[type='text']:active,
input[type='password']:active,
input[type='email']:active,
input[type='file']:active,
select:active,
textarea:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='file']:focus,
select:focus{ border-color:var(--input-border--color-active);}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
