* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html {
  font-size: var(--font-size);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--body-background);

  font-weight: 300;
}

.main{
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;
}
